.dashboard{
    background-color: #d1d0d0;
    margin:0;
    margin-bottom: 10px;
}
h2{
    margin: 0;
}
.details{
    text-align: center;
}
.dashboard h2{
    color:#7D5A50;
    font-size:35px;

}
.column a{
    background-color: #eee;
    color: #222831;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.column {
    width: 18rem;
    margin-top: 60px;
  }
.column a:hover {
    background-color: #ccc;
}
.add-events-heading{
    background-color: #222831;
    padding: 20px;
    text-align: center;
    color:#d1d0d0;
    font-size: 18px;
}
