@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

*{
    background-color:#EDCDBB ;
}
#header{
    flex-basis: 100%;
    /* border-bottom: 1px solid black; */
    padding:20px;
    height:80px;
    display: flex;
    flex-wrap: wrap;
    display:flex ;
}
.head-1{
    flex-basis: 60%;
    position: relative;
    top:-5px;
    left:10px ;
    font-size: 40px;
}
.head-1 a,.head a{
    text-decoration: none;
    color:#7D5A50;
}
.head-1 a:hover,.head a:hover{
    color:black;
}
.head{
    flex-basis: 9%;
    position: relative;
    top:10px;
    left:30px;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
}
